*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/187161.jpg);
    background-size: contain;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
}
.btn-toggle-menu{
    display: none;
    cursor: pointer;
    color: aqua;
}
#toggle-menu{
    display: none;
}
.slider img{
    margin-top: 200px;
    margin-bottom: 25px;
    width: 958px;
}
nav{
    background-color:black;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
.logo{
    width: 100px;
    height: 100px;
}
.menu{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
}
.menu li{
    margin-right: 20px;
}
.menu li a{
    display: block;
    padding: 8px 15px;
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}
.menu li a:hover{
    color: white;
    border-radius: 15px;
    background-color:brown;
}

@media screen and (max-width: 780px) {
    nav{
        flex-wrap: wrap;
    }
    .menu{
        display: none;
    }
    .btn-toggle-menu{
        display: unset;
    }
    #toggle-menu:checked + .menu{
        display: block;
        width: 100%;
    }
}

:root {
    --black-color: #0b0c10;
    --gray-color: #1f2833;
    /* --gray-color: #1f2833; */
    --lightgray-color: #c5c6c7;
    --lightblue-color: #66fcf1;
    --darkblue-color: #45a29e;
}
header {
    background-color: var(--gray-color);
    max-height: 75px;
    /* margin-bottom: 50px; */
    float: left;
    width: 100%;
}
.controls {
    float: left;
    font-size: 30px;
    color: var(--lightgray-color);
    background-color: var(--darkgray-color);
    margin-right: 25px;
    /* height: 75px; */
    /* line-height: 75px; */
    /* display: none; */
}
.header {
    padding: 25px 0 0;
    margin: 0 auto;
    max-width: 975px;
}
.header a {
    color: var(--lightgray-color);
}

.header .logo {
    float: left;
    width: 200px;
}

.header .logo .logo-name {
    display: block;
    height: 75px;
    /* line-height: -10px; */
    font-size: 20px;
}
#no-product {
    text-align: center;
}
.cart-item {
    line-height: 50px;
    display: block;
    margin: 0 10px;
    border-bottom: 1px solid var(--lightgray-color);
    color: var(--lightgray-color);
}
.cart-item span {
    height: 50px;
}
.cart-item > .cart-item-name {
    white-space: nowrap;
    float: left;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item > .cart-item-quantity {
    width: 25%;
    float: left;
}
.cart-item > .cart-item-remove {
    background-color: var(--black-color);
    border: 1px var(--lightgray-color) solid;
    border-radius: 15px;
    color: var(--lightgray-color);
    padding: 5px;
    user-select: none;
}
.cart-item > .cart-item-remove:hover {
    cursor: pointer;
}
.cart-props {
    text-align: center;
}
.col-50 {
    float: left;
    width: 50%;
}
.cart-props > div > div {
    margin: 0 10px 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
}
#cart-add-money {
    background-image: linear-gradient(to right, var(--darkblue-color), var(--lightblue-color));
    border-color: var(--lightblue-color);
}
#cart-add-money:hover {
    font-weight: 800;
}
#cart-add-money > a {
    color: var(--black-color);
}

footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    float: right;
}

.footer {
    width: 100%;
    background-color: var(--gray-color);
    color: var(--lightgray-color);
}
.footer-head {
    margin: 0 auto 25px;
    max-width: 975px;
    width: 100%;
    height: 75px;
    padding: 30px 0;
    font-size: 13px;
}
.service {
    margin: 0 10px 15px;
    width: 225px;
}
.service > img {
    display: block;
    width: 46.5px;
    float: left;
    margin-right: 5px;
}
.service > h4 {
    display: inline-block;
    text-transform: uppercase;
}
.footer-body {
    /* background-color: lig; */
    display: block;
    margin: 0 auto;
    max-width: 975px;
}
.footer-body-item {
    line-height: 25px;
    float: left;
    margin-right: 20px;
}
.footer-body-item > p a {
    color: var(--lightblue-color);
}
.footer-body-item > h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-list {
    float: left;
    width: 100%;
}
.product-heading {
    position: relative;
    margin-bottom: 5%;
}

.tag-name {
    left: 0;
    color: var(--lightgray-color);
}
.tag-more {
    right: 0;
    color: var(--lightgray-color);
}
.tag-sale {
    background-color: var(--lightblue-color);
    color: var(--lightblue-color);
    font-size: 12px;
    border: none;
    border-radius: 25px;
}
.product {
    margin: 0 10px 30px;
    box-shadow: 0 1px 10px var(--darkblue-color), 0 1px 2px var(--darkblue-color);
    transition: box-shadow 300ms;
    text-align: center;
    max-height: 325px;
    padding-bottom: 20px;
    background-color: var(--lightgray-color);
}
.product:hover {
    box-shadow: 0 1px 10px var(--lightblue-color), 0 3px 10px var(--lightblue-color);
}
.product-img {
    max-width: 100%;
}
.product-body {
    margin-bottom: 20px;
}
.product-name {
    padding: 10px;
    font-size: 18px;
    max-width: 90%;
    word-wrap: break-word;
    color: var(--gray-color);
}
.product-price {
    text-decoration: line-through;
    color: var(--gray-color);
    font-size: 18px;
}
.product-sale-price {
    font-size: 20px;
    color: red;
}
.product-buy-opt {
    font-size: 20px;
}
.product-buy-opt > button {
    background-color: var(--darkblue-color);
    padding: 5px 15px;
    border: 1.5px solid var(--lightblue-color);
    color: var(--gray-color);
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 100px;
    font-size: 12px;
    transition: color 200ms;
    transition: background-color 200ms;
}
.product-buy-opt > button:first-child {
    margin: 5% auto;
}
.product-buy-opt > button:hover {
    background-color: var(--lightblue-color);
    border-color: var(--darkblue-color);
}
.col-25 {
    float: left;
    width: 25%;
}
.item {
    height: 350px;
}
.item-imgs > .banner-advertise{
    width: 100% !important;
    margin: 0 !important;
}
.item-imgs > .banner-advertise > .slider-lib > div {
    margin: 0 15px;
}
.item-name {
    color: var(--lightgray-color);
    text-transform: uppercase;
    font-size: 35px;
}
.item-status {
    color: var(--lightgray-color);
    margin-bottom: 10px;
}
.item-prices {
    width: 100%;
}
.item-price {
    color: var(--lightblue-color);
    font-size: 26px;
}
.presale-price {
    color: var(--lightgray-color);
    text-decoration: line-through;
    font-size: 16px;
}
.tag-sale {
    background-color: var(--gray-color);
    opacity: 0.7;
    border-color: var(--lightblue-color);
    border-radius: 25px;
    font-size: 16px;
}
.item-quantity {
    height: 25px;
    line-height: 25px;
    /* float: left; */
    display: inline-table;
}
.item-quantity > span {
    margin-right: 20px;
    color: var(--lightgray-color);
}
.item-quantity > .btn {
    font-size: 16px;
    padding: 10px 15px;
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    border-color: var(--lightblue-color);
    transition: background-color 200ms;
}
.btn:hover {
    background-color: var(--lightblue-color);
    color: var(--gray-color);
}
.minus-quantity {
    border-top-left-radius: 15px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 15px;
    border-bottom: 1px solid gray;
}
.add-quantity {
    border-top-right-radius: 15px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid gray;
}
#item-quantity {
    border: 1px solid var(--lightblue-color);
    color: var(--lightblue-color);
    background-color: var(--gray-color);
    padding: 13px 15px 11px;
    width: 30px;
}
.buy-methods {
    margin-top: 35px;
}
.add-to-cart {
    width: 40%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.add-to-cart:hover {
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.buy-now {
    margin-left: 25px;
    padding: 15px;
    width: 30%;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.buy-now:hover {
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.remind {
    padding: 15px;
    display: none;
    margin: 15px auto;
    border-radius: 15px;
    border: 1px solid var(--lightblue-color);
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
.remind:hover {
    cursor: pointer;
    background-color: var(--lightblue-color);
    color:  var(--gray-color);
}
.slider {
    width: 100%;
}
.adver-img {
    display: inline;
    width: 80%;
}

.banner {
    width: 100%;
}
.banner-nav {
    float: left;
    display: inline-table;
    width: 19%;
    font-size: 24px;
    /* margin-left: 0.75%; */
}
.banner-nav_list-item {
    position: relative;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--lightblue-color);
    border-bottom: none;
    background-color: var(--lightgray-color);
}
.banner-nav_list-item i {
    font-size: 25px;
    margin-right: 7.5px;
}
.banner-nav_list-item:hover {
    background: var(--gray-color);
}
.banner-nav_list-item > a {
    color: var(--gray-color);
}
.banner-nav_list-item:hover > a {
    color: var(--lightgray-color);
}
.banner-nav_list-item:last-child {
    border-bottom: 1px solid var(--lightblue-color);
}

.banner-nav_list-item:hover > .cate-items {
    display: block;
}
.cate-items {
    display: none;
    position: absolute;
    left: 184px;
    width: 400px;
    top: -1px;
    background-color: var(--lightgray-color);
    border: 1px solid var(--lightblue-color);
    border-left: none;
    z-index: 2;
}

.cate-item {
    font-size: 16px;
    float: left;
    width: 25%;
}
.cate-item:hover {
    background: var(--gray-color);
}
.cate-item:hover > a {
    color: var(--lightgray-color);
}
.banner-advertise {
    display: inline-table;
    position: relative;
    width: 77.5%;
    margin-left: 30px;
}
.adver-img {
    width: 100%;
}
.banner-btn {
    position: absolute;
    z-index: 1;
    top: 10%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15%;
    color: var(--lightblue-color);
}
.banner-btn-left {
    left: 25px;
    float: left;
}
.banner-btn-right {
    right: 25px;
    float: right;
}
.nav-slider {
    width: 100%;
    /* margin-left: 15px; */
    float: left;
}
.banner-event {
    margin-top: 10px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}   
.event-item {
    float: left;
    width: 32%;
    height: 150px;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin: 0 0.5%;
}
.event-item img {
    width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.banner-event {
    margin-top: 10px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.slider-lib {
    max-width: 100%;
}
.slider-lib > div {
    margin: 0 10px;
}
.lib-img {
    width: 120%;
    cursor:pointer;
}

.cart {
    float:left;
    width: 975px;
}
.cart-info {
    border: 1px solid var(--lightblue-color);
    border-radius: 5px;
    padding: 15px;
    color: var(--gray-color);
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px -15px;
    font-size: 15px;
}

.col-1 {
    width: 50%;
    padding: 0 15px;
}
.col-2 {
    width: 15%;
    padding: 0 15px;
}
.col-3 {
    width: 15%;
    padding: 0 15px;
}
.col-4 {
    width: 13%;
    padding: 0 15px;
}
.col-5 {
    width: 2%;
    float: right;
    padding: 0 15px;
}

.cart-product-img {
    width: 150px;
    float: left;
    display: block;
    margin-right: 15px;
}
.cart-product-name {
    text-align: left;
    font-size: 16px;
    color: var(--lightblue-color);
}
.cart-product-status {
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    color: var(--darkblue-color);
}
.cart-product-status > .active {
    color: var(--lightgray-color);
}
.cart-product-status > .unactive {
    color: var(--darkblue-color);
}
.cart-product-price {
    font-size: 16px;
    letter-spacing: 0.25px;
}
.cart-product-normal-price {
    text-decoration:line-through;
    color: var(--lightgray-color);
    display: inline;
    margin-right: 5px;
    font-size: 14px;
}
.sale-tag {
    text-decoration: none;
    color: var(--lightblue-color);
    font-size: 14px;
}
.cart-product-quantity {
    height: 10px;
    line-height: 10px;
    display: inline-table;
}
.cart-product-quantity > span {
    margin-right: 20px;
}
.cart-product-quantity > .btn {
    font-size: 16px;
    padding: 5px 10px;
    background-color: var(--gray-color);
    color: var(--lightblue-color);
    border-color: var(--lightblue-color);
    transition: background-color 200ms;
}
.cart-product-quantity > .btn:hover {
    background-color: var(--lightblue-color);
    color: var(--gray-color);
}
#cart-product-quantity {
    border: 1px solid var(--lightblue-color);
    color: var(--lightblue-color);
    background-color: var(--gray-color);
    padding: 8px 13px 6px;
    width: 15px;
}
.cart-product-remove {
    font-size: 16px;
    color: var(--lightgray-color);
    background-color: var(--black-color);
}

.function {
    background-color: var(--gray-color);
    padding: 15px;
    color: var(--lightgray-color);
}
.function:hover {
    cursor: pointer;
}
.function:first-child > .function-icon {
    margin-left: 15px;
}
.function-icon {
    float: left;
    text-align: center;
}
.function-title {
    margin-left: 55px;
    font-size: 12px;
}
.function-active {
    background-color: var(--lightgray-color);
    color: var(--gray-color);
}
#edit-btn {
    padding: 15px 55px;
    display: block;
    margin: auto;
    background-color: var(--darkblue-color);
    border-radius: 15px;
    color: var(--gray-color);
    transition: color 200ms;
    transition: background-color 200ms;
}
#edit-btn:hover {
    cursor: pointer;
    background-color: var(--lightblue-color);
    color: var(--black-color);
}
#cart-info {
    display: none;
}